
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin Paneli</title>

    <link href="~/AdminTemplate/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminTemplate/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/AdminTemplate/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/AdminTemplate/css/animate.css" rel="stylesheet">
    <link href="~/AdminTemplate/css/style.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        @await Html.PartialAsync("~/Views/Admin/AdminNavbarPartial.cshtml")

        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0; color:black">
                    <div class="navbar-header" >
                        <a class="navbar-minimalize minimalize-styl-2" style="color: white; background-color:black" href="#"><i class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" action="search_results.html" >
                            <div class="form-group">
                                <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a href="/Login/LogOut/">
                                <i class="fa fa-sign-out"></i>Çıkış
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>
            
            <div class="wrapper wrapper-content animated fadeInRight">
                @RenderBody()

            </div>
        </div>
    </div>



    <!-- Mainly scripts -->
    <script src="~/AdminTemplate/js/jquery-3.1.1.min.js"></script>
    <script src="~/AdminTemplate/js/popper.min.js"></script>
    <script src="~/AdminTemplate/js/bootstrap.js"></script>
    <script src="~/AdminTemplate/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/AdminTemplate/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Peity -->
    <script src="~/AdminTemplate/js/plugins/peity/jquery.peity.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/AdminTemplate/js/inspinia.js"></script>
    <script src="~/AdminTemplate/js/plugins/pace/pace.min.js"></script>

    <!-- iCheck -->
    <script src="~/AdminTemplate/js/plugins/iCheck/icheck.min.js"></script>

    <!-- Peity -->
    <script src="~/AdminTemplate/js/demo/peity-demo.js"></script>

    <script>$(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });</script>
</body>
</html>
