<div class="row">
    <div class="col-lg-6">
        <div class="widget no-padding" style="background-color: white;">
            <div class="p-m">
                
                <h1 class="font-bold no-margins"style="color: black;">
                   İş Web Sitesi
                </h1>
                
                <h3 style="color: black;">İş web sitemizde bulunan bu panelde admin işlemleri gerçekleştirilecektir.</h3>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget  no-padding" style="background-color: black;">
            <div class="p-m">
                <h1 class="m-xs" style="color: white;">Son Eklenen İlan</h1>

                <h3 class="font-bold no-margins" style="color: white;">
                    @ViewBag.v1
                </h3>
                
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    
</div>