<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            @*<img src="~/EmployerTemplate/images/icon/logo.png" alt="Cool Admin" />*@
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="/DashBoard/Index/">
                        <i class="fas fa-tachometer-alt"></i>Dashboard
                    </a>

                </li>
                <li>
                    <a href="/Adverts/AdvertListByCompany/">
                        <i class="fas fa-file-text"></i>İş İlanları
                    </a>
                </li>

                <li>
                    <a href="/Adverts/AdvertAdd/">
                        <i class="far fa-plus-square"></i>İlan Ekle
                    </a>
                </li>
                <li>
                    <a href="/Message/AddMessage/">
                        <i class="fas fa-location-arrow"></i>Mesaj Gönder
                    </a>
                </li>
                <li>
                    <a href="/Message/InBox/">
                        <i class="fas fa-comment"></i>Mesajlar
                    </a>
                </li>
                <li>
                    <a href="/Company/CompanyEditProfile/">
                        <i class="fas fa-user"></i>Firma Bilgileri
                    </a>
                </li>
                <li>
                    <a href="/AnaSayfa/Index/">
                        <i class="fas fa-sign-in-alt"></i>Siteye Git
                    </a>
                </li>
                <li>
                    <a href="/Login/LogOut/">
                        <i class="fas fa-power-off"></i>Çıkış Yap
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>