@using Microsoft.AspNetCore.Identity
@inject UserManager<EntityLayer.Concrete.AppUser> UserManager

<header class="header-desktop">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="header-wrap">
                <form class="form-header" action="" method="POST">
                    <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                    <button class="au-btn--submit" type="submit">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                </form>
                <div class="header-button">
                    @await Component.InvokeAsync("MessageNotification")

                    <div class="account-wrap">
                        <div class="account-item clearfix js-item-menu">
                            <div class="image">
                                <img src="~/CompanyImage/@UserManager.GetUserAsync(User).Result.ImageUrl" alt="Image" />
                                @*~/EmployerTemplate/images/icon/avatar-01.jpg*@
                            </div>
                            <div class="content">
                                <a class="#" href="/Company/CompanyEditProfile">@UserManager.GetUserAsync(User).Result.UserName</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>