@using EntityLayer.Concrete
@model List<AppRole>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Rol Listesi</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Başlık</th>
            <th>Düzenle</th>
            <th>Sil</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Id</th>
            <td>@item.Name</td>
            <td><a href="/Admin/AdminRole/UpdateRole/@item.Id" class="btn btn-primary">Düzenle</a></td>
            <td>
                <a href="/Admin/AdminRole/DeleteRole/@item.Id" id="DeleteBtn"
                   onclick="return confirm('Silmek istediğinize emin misiniz?');" class="btn btn-danger">Sil</a>
            </td>
        </tr>
    }
</table>
<a href="/Admin/AdminRole/AddRole/" class="btn btn-warning">Yeni Rol Ekle</a>
<a href="/Admin/AdminRole/UserRoleList/" class="btn btn-info">Kullanıcı Rol Listesi</a>


