<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!-- User Profile-->
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="/Member/Profile/Index/" aria-expanded="false">
                        <i class="me-3 fa fa-user" aria-hidden="true"></i><span class="hide-menu">Profilim</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="/Member/MyApplication/Index/" aria-expanded="false">
                        <i class="me-3 fa fa-table"
                           aria-hidden="true"></i><span class="hide-menu">Başvurularım</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="/Member/MyApplication/ApprovalAdvert/" aria-expanded="false">
                        <i class="me-3 fa  fas fa-check"
                           aria-hidden="true"></i><span class="hide-menu">Onaylanan Başvurular</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="/Member/MyApplication/WaitAdvert/" aria-expanded="false">
                        <i class="me-3 fa far fa-hourglass"
                           aria-hidden="true"></i><span class="hide-menu">Onay Bekleyen Başvurular</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="/Member/MyApplication/RejectedAdvert/" aria-expanded="false">
                        <i class="me-3 fa far fa-times-circle"
                           aria-hidden="true"></i><span class="hide-menu">Reddedilen Başvurular</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="/Member/MemberMessage/MemberInBox/" aria-expanded="false">
                        <i class="me-3 fas fa-comments"
                           aria-hidden="true"></i><span class="hide-menu">Mesajlar</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="/Member/MemberMessage/MemberAddMessage/" aria-expanded="false">
                        <i class="me-3 fas fas fa-edit"
                           aria-hidden="true"></i><span class="hide-menu">Mesaj Gönder</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="/AnaSayfa/Index/" aria-expanded="false">
                        <i class="me-3 fas  fas fa-arrow-circle-right"
                           aria-hidden="true"></i><span class="hide-menu">Siteye Git</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="/Login/LogOut/" aria-expanded="false">
                        <i class="me-3 fa fa-info-circle"
                           aria-hidden="true"></i><span class="hide-menu">Çıkış Yap</span>
                    </a>
                </li>
            </ul>

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
