
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h2>Pdf Raporları Sayfası</h2>
<a href="/PdfReport/ExportPdfAdvertList" class="btn btn-outline-primary">Statik Pdf Raporu</a>

