@using EntityLayer.Concrete
@model List<Message2>
@{
    ViewData["Title"] = "InBox";
    Layout = "~/Views/Shared/EmployerLayout.cshtml";
}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">

            <div class="row m-t-30">
                <div class="col-md-12">
                    <!-- DATA TABLE-->
                    <h1 style="text-align: center;">Gelen Kutusu</h1><br />
                    <div class="table-responsive m-b-40">
                        <table class="table table-borderless table-data3">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Konu</th>
                                    <th>Gönderen</th>
                                    <th>Tarih</th>
                                    <th>Mesaj Detay</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Message2ID</td>
                                        <td>@item.Subject</td>
                                        <td>@item.SenderUser.UserName</td>
                                        <td>@item.Date.ToShortDateString()</td>
                                        <td><a href="/Message/MessageDetails/@item.Message2ID" class="btn btn-secondary">Detay</a></td>



                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/Message/AddMessage/" class="btn btn-outline-success btn-lg btn-block">Yeni Mesaj Oluştur</a>
                    </div>
                    <!-- END DATA TABLE-->
                </div>
            </div>

        </div>
    </div>
</div>


